@media (max-width: 1380px) {
	.contact-main__b {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.contact-main__f {
		margin: 75px 0 0 0;
	}
	.contact-main__d-i:nth-child(2),
	.contact-main__d-i:nth-child(3) {
		display: none;
	}
}

@media (max-width: 800px) {
	.contact-main__b {
		padding: 0;
	}
	.contact-main__d-i:nth-child(1) {
		display: none;
	}
}

@media (max-width: 700px) {
	.contact-main__btn-p {
		display: none;
	}
	.contact-main__btn::after {
		display: none;
	}
	.contact-main__btn {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: transparent;
		border-radius: 100px;
		padding: 25px 0 25px 0;
		position: relative;
		margin: 0 0 48px 0;
	}
	.contact-main__btn-b {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.contact-main__btn-t {
		font-family: Circe;
		text-align: center;
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 37px;
		color: #363636;
	}
	.contact-main__btns {
		width: 100%;
	}
	.contact-main__i {
		width: 100%;
	}
	.contact-main__btn-w {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin: 17px 0 0 0;
	}
	.contact-main__btn-i {
		background: #3ea3f2;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 19px 35px;
		margin: 17px 0 0 0;
		max-width: 330px;
		width: 100%;
		position: relative;
		& img {
			position: absolute;
			top: 50%;
			right: 35px;
			transform: translate(0%, -50%);
		}
	}
}

@media (max-width: 550px) {
	.contact-main .containers:last-child {
		padding: 0;
	}
	.contact-main__w {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 25px 0 0 0;
		position: relative;
		width: 100%;
	}
	.contact-main {
		width: 100%;
		position: relative;
		z-index: 2;
		background: linear-gradient(0deg, #e2f8ff 0%, #ffffff 40%);
		border-radius: 0px 0px 40px 40px;
		padding: 35px 0 0 0;
	}
	.contact-main__i {
		width: 100%;
		padding: 0 25px;
	}
	.contact-main__c {
		margin: 55px 0 0 0;
	}
	.contact-main__btns {
		margin: 35px 0 0 0;
	}
	.contact-main__btn {
		padding: 0;
	}
}

@media (max-width: 450px) {
	.contact-main__btn-i {
		max-width: 100%;
	}
}
