@media (min-height: 780px) {
	.ind-main {
		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ind-main__decor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 100%;
		max-width: 1440px;
		height: 90vh;
	}
}
@media (min-height: 850px) {
	.ind-main__decor {
		height: 80vh;
	}
}
@media (max-height: 770px) {
	.ind-main__video {
		height: 455px;
	}
	.ind-main__info {
		margin: 0;
	}
	.ind-main__info-btns {
		margin: 40px 0 0 0;
	}
	.ind-main__info-d {
		margin: 25px 0 0 0;
	}
	.ind-team__start p {
		line-height: 50px;
	}
}

@media (max-width: 1380px) {
	.ind-team__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.ind-team__start {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
	}
	.ind-team__list {
		margin: 75px 0 0 0;
		width: 100%;
	}
	.ind-team__list-i {
		width: 100%;
	}
}

@media (max-width: 1350px) {
	.ind-main .containers {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
	}
	.ind-main__decor {
		height: 100%;
	}
	.ind-main {
		height: 100%;
	}
	.ind-main__info {
		width: 100%;
	}
	.ind-main__info-i {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		transform: none;
		margin: 0 0 0 35px;
	}
	.ind-main__info-btns {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.ind-main__video {
		width: 100%;
		height: 600px;
		margin: 55px 0;
	}
	.ind-news__list {
		display: none;
	}
	.ind-news__s {
		display: block;
		width: 100%;
		padding: 0 0 55px 0;
		position: relative;
	}
	.ind-news__list-i {
		width: 100%;
	}
	.swiper-pagination-progressbar {
		bottom: 0;
		top: auto !important;
		height: 17px !important;
		background: #ffffff;
		border-radius: 25px;
		width: 100%;
	}
	.swiper-pagination-progressbar-fill {
		height: 17px !important;
		background: #00a3ff !important;
		border-radius: 25px;
	}
	.ind-news__list-i {
		display: flex !important;
	}
	.ind-main__decor-i:nth-child(2),
	.ind-main__decor-i:nth-child(3) {
		display: none;
	}
}

@media (max-width: 1250px) {
	.ind-description .containers {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.ind-description__start-b {
		display: none;
	}
	.ind-description__info-p {
		display: none;
	}
	.ind-description__info {
		width: 100%;
	}
	.ind-description__start {
		position: relative;
		top: auto;
		left: auto;
	}
	.ind-portfolio__decor-i:nth-child(1),
	.ind-portfolio__decor-i:nth-child(2) {
		display: none;
	}
	.ind-portfolio__list-i:nth-child(odd) {
		margin: 0 0 0 0;
	}
	.ind-portfolio__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
		width: 100%;
		gap: 50px 33px;
		position: relative;
		z-index: 5;
		margin: 75px 0 0 0;
		justify-items: center;
	}
	.ind-portfolio__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.ind-portfolio__start {
		margin: 170px 0 0 0;
		position: relative;
		top: auto;
		left: auto;
		z-index: 3;
	}
}

@media (max-width: 800px) {
	.ind-main__info-btns {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.ind-main__info-i {
		margin: 25px 0 0 0;
	}
	.ind-portfolio__slider {
		display: block;
		width: 100%;
		padding: 0 0 55px 0;
		position: relative;
		margin: 75px 0 0 0;
	}
	.ind-portfolio__list {
		display: none;
	}
	.ind-portfolio__list-i {
		width: 100%;
		box-shadow: none;
	}
	.ind-portfolio {
		border-radius: 40px 40px 0px 0px;
	}
	.ind-team__start-b {
		width: 100%;
		background: transparent;
		border-radius: none;
	}
	.ind-team__start-p {
		display: none;
	}
	.ind-team__start-l {
		display: none;
	}
	.ind-team__start-t h5 {
		font-family: Circe;
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 37px;
		text-align: center;
		color: #363636;
	}
	.ind-team__start-t {
		padding: 30px 0;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
	}
	.ind-team__start-link {
		margin: 11px 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.ind-team__start-link a {
		background: #3ea3f2;
		border-radius: 50px;
		padding: 16px 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		min-width: 330px;
		margin: 16px 0 0 0;
		&:last-child {
			margin: 16px 0 0 0;
		}
	}
	.ind-team__start-link a img {
		margin: 0 0 0 0;
		position: absolute;
		top: 50%;
		right: 35px;
		transform: translate(0%, -50%);
	}
	.ind-team__start-b:last-child {
		margin: 0 0 0 0;
	}
	.ind-portfolio__wrapper {
		margin: 45px 0 0 0;
	}
	.ind-team__slider {
		display: block;
		width: 100%;
		padding: 0 0 55px 0;
		position: relative;
		margin: 75px 0 0 0;
	}
	.ind-team__list {
		display: none;
	}
	.ind-team__list-i:nth-child(1) {
		min-height: 380px;
	}
	.ind-team__list-d {
		display: none;
	}
	.ind-team__list-i::after {
		background: rgba(0, 0, 0, 0.3) !important;
	}
}

@media (max-width: 550px) {
	.ind-main__info-t p {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 135%;
		color: #363636;
	}
	.ind-main__info-d p {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		color: #484848;
	}
	.ind-main__info-p {
		width: 100%;
	}
	.ind-main__info-i {
		width: 100%;
	}
	.ind-main__video {
		height: 500px;
	}
	.ind-description__start-t p {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 135%;
		color: #363636;
	}
	.ind-description::after {
		display: none;
	}
	.ind-description__info-t p {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		color: #484848;
	}
	.ind-description__info-t h5 {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 33px;
		color: #3ea3f2;
	}
	.ind-portfolio__title {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 135%;
		color: #363636;
	}
	.ind-portfolio__start p {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 135%;
		color: #363636;
	}
	.ind-portfolio__start-d {
		top: -65px;
	}
	.ind-portfolio__list-t {
		font-family: Circe;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 65px;
		color: #232323;
	}
	.ind-portfolio__list-d {
		font-family: Circe;
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 19px;
		color: #232323;
	}
	.ind-portfolio__list-b h5 {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 19px;
		color: #232323;
	}
	.ind-portfolio__list-b p {
		font-family: Roboto;
		font-style: normal;
		font-weight: 800;
		font-size: 13px;
		line-height: 19px;
		color: #232323;
	}
	.ind-team__start p {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 135%;
		color: #363636;
	}
	.ind-team__list-t p {
		margin: 16px 0 0 0;
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 11px;
		line-height: 170%;
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.ind-team__list-t h5 {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 130%;
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.ind-team__list-i {
		align-items: flex-start;
		justify-content: flex-end;
		padding: 40px 35px;
	}
	.ind-team__start-b {
		padding: 25px 0;
	}
	.ind-team__start-link a {
		max-width: 100%;
		width: 100%;
	}
	.ind-team__start-link {
		width: 100%;
	}
	.ind-news__title {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 135%;
		color: #363636;
	}
	.ind-news__list-t {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 700;
		font-size: 27px;
		line-height: 37px;
		color: #272d4e;
	}
	.ind-news__list-d {
		font-family: TTNorms;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		color: #2d2d2d;
	}
	.ind-news {
		border-radius: 0 0 40px 40px;
	}
	.ind-description__start {
		width: 100%;
	}
	.ind-team__decor-i:nth-child(2) {
		display: none;
	}
}

@media (max-width: 500px) {
	.ind-main__decor-i:nth-child(1) {
		top: 350px;
		left: -50px;
	}
}

@media (max-width: 450px) {
	.ind-main__video {
		height: 400px;
	}
}
