.about__banner 
    .about__banner-i#elem__1
        img(src="./svg/about__animation/element__1.svg", alt="icons")
    .about__banner-i#elem__2
        img(src="./svg/about__animation/element__2.svg", alt="icons")
    .about__banner-i#elem__3
        img(src="./svg/about__animation/element__3.svg", alt="icons")
    .about__banner-i#elem__4 
        img(src="./svg/about__animation/element__4.svg", alt="icons")
    .about__banner-i#elem__5 
        img(src="./svg/about__animation/element__5.svg", alt="icons")
    .about__banner-i#elem__6 
        img(src="./svg/about__animation/element__6.svg", alt="icons")
    .about__banner-i#elem__7 
        img(src="./svg/about__animation/element__7.svg", alt="icons")
    .about__line#lines
        .about__line__progress#lines__p
