.footer__block
footer.footer.opacity
    .containers 
        .footer__wrapper
            .footer__nav
                a(href="index.html").footer__nav-logo
                    img(src="./svg/logo_togo.svg" alt="icons")
                ul.footer__nav-l
                    li.footer__nav-i 
                        a(href="about.html") О нас
                    li.footer__nav-i 
                        a(href="portfolio.html") Портфель брендов
                    li.footer__nav-i 
                        a(href="team.html") Наша команда
                    li.footer__nav-i 
                        a(href="partner.html") Партнерам
                    li.footer__nav-i 
                        a(href="investor.html") Инвесторам
                    li.footer__nav-i 
                        a(href="news.html") Новости
                    li.footer__nav-i 
                        a(href="contact.html") Контакты
            .footer__info
                .footer__info-c
                    p Наши контакты
                    a(href="mailto:invest_v_togo@email.com") invest_v_togo@email.com
                    h5 Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют 
                .footer__info-a 
                    p Адрес штаб-квартиры Togo: 
                    address Москва, ул. Нижегородская, 29-33 стр. 5, (БЦ Нижегородский)
            .footer__add 
                .footer__add-i Copyright © Togo All rights reserved
                a(href="https://bpump.ru/").footer__add-c Сайт разработан компанией Business Pump