.footer__block
footer.footer 
    .containers 
        .footer__wrapper
            .footer__nav
                a(href="index.html").footer__nav-logo
                    img(src="./img/logo__header.png" alt="icons")
                ul.footer__nav-l
                    li.footer__nav-i 
                        p О нас
                    li.footer__nav-i 
                        p Портфель брендов
                    li.footer__nav-i 
                        p Наша команда
                    li.footer__nav-i 
                        p Партнерам
                    li.footer__nav-i 
                        p Инвесторам
                    li.footer__nav-i 
                        p Новости
                    li.footer__nav-i 
                        p Контакты
            .footer__info
                .footer__info-c
                    p Наши контакты
                    a(href="mailto:invest_v_togo@email.com") invest_v_togo@email.com
                    h5 Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют 
                .footer__info-a 
                    p Адрес штаб-квартиры Togo: 
                    address Москва, ул. Нижегородская, 29-33 стр. 5, (БЦ Нижегородский)
            .footer__add 
                .footer__add-i Copyright © Togo All rights reserved
                a(href="https://bpump.ru/").footer__add-c Сайт разработан компанией Business Pump