.form__b
    .form__b-n
        label.form__b-name(for='form__name').form__e
            input(type="text" placeholder='ФИО' id='form__name')
        label.form__b-phone(for='form__phone')
            input(type="text" placeholder='Телефон' id='form__phone')
    label.form__b-email(for='form__email')
        input(type="text" placeholder='Email' id='form__email')
    label.form__b-message(for='form__message')
        textarea(placeholder='Сообщение' id='form__message')
    button(type='submit').form__b-btn
        p Отправить для диалога по инвестированию
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 11L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1 1H11V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    .form__b-check
        input.form__b-check__checkbox__input(type="checkbox" id="form__check" checked)
        label.form__b-check__checkbox__label(for='form__check') 
            p Я даю своё согласие на обработку персональных данных и соглашаюсь с условиями и политикой конфиденциальности