header.header 
    .containers
        .header__block
            a(href="index.html").header__logo
                img(src="./img/logo__header.png" alt="logo")
            ul.header__l
                li.header__i
                    a(href="#") О нас 
                li.header__i
                    a(href="#") Портфель брендов 
                li.header__i
                    a(href="#") Наша команда 
                li.header__i
                    a(href="#") Партнерам 
                li.header__i
                    a(href="#") Инвесторам 
                li.header__i
                    a(href="#") Новости 
                li.header__i
                    a(href="#") Контакты 