header.header 
    .containers
        .header__block.header__block-b
            a(href="index.html").header__logo
                img(src="./svg/logo_togo.svg" alt="icons")
                img(src="./img/logo__headers.png" alt="logo")
                .header__description.opacity-d
                    p В 1925 году, когда в почти изолированном от внешнего мира городе Ном(штат Аляска, США) вспыхнула эпидемия дифтерии, Леонард Сеппала – норвежско-американский профессиональный гонщик на собачьих упряжках, решил принять участие в Великой гонке милосердия и взял с собой Того, которому на тот момент было 12 лет. 
                        br 
                        | В период с 31 января по 1 февраля эстафета, заключающаяся в доставке антидифтерийной сыворотки с антитоксином, была в руках Сеппалы, который прошёл вместе с Того от Нома к Шактулику и обратно до Головина 425 км. В пути собачью упряжку и её каюра ожидало много опасностей. Ночь и снежная буря не позволяли Сеппале видеть дорогу, но Того вывел их к придорожному домику, предотвратив верную гибель своей команды. 
            ul.header__l
                li.header__i
                    a(href="about.html") О нас 
                li.header__i
                    a(href="portfolio.html") Портфель брендов 
                li.header__i
                    a(href="team.html") Наша команда 
                li.header__i
                    a(href="partner.html") Партнерам 
                li.header__i
                    a(href="investor.html") Инвесторам 
                li.header__i
                    a(href="news.html") Новости 
                li.header__i
                    a(href="contact.html") Контакты 
            .header__m 
                img(src="./svg/menu.svg" alt="icons")
                img(src="./svg/menus.svg" alt="icons")

//- .header__block-w - header white color 
//- .header__block-b - header black color 