.menu.display-n
    .menu__w 
        .menu__nav 
            a(href="#").menu__nav-l 
                img(src="./img/logo__headers.png" alt="logo")
            button.menu__nav-c
                img(src="./svg/close.svg" alt="close")
        ul.menu__l 
            li.menu__l-i
                a(href="about.html") О НАС
            li.menu__l-i
                a(href="portfolio.html") ПОРТФЕЛЬ БРЕНДОВ
            li.menu__l-i
                a(href="team.html") НАША КОМАНДА
            li.menu__l-i
                a(href="partner.html") ПАРТЕРАМ
            li.menu__l-i
                a(href="investor.html") ИНВЕСТОРАМ
            li.menu__l-i
                a(href="news.html") НОВОСТИ 
            li.menu__l-i
                a(href="contact.html") КОНТАКТЫ