.ind-portfolio__w
    .ind-portfolio__tb
        .ind-portfolio__table
            .ind-portfolio__table-w
                .ind-portfolio__nav-i 
                    p Год
                ul.ind-portfolio__table-bl.ind-portfolio__table-year
                    li.ind-portfolio__table-i
                        p 2021 год
                    li.ind-portfolio__table-i
                        p 2020 год
                    li.ind-portfolio__table-i
                        p 2019 год
                    li.ind-portfolio__table-i
                        p 2018 год
            .ind-portfolio__table-w
                .ind-portfolio__nav-i 
                    p В портфеле фонда
                ul.ind-portfolio__table-bl
                    li.ind-portfolio__table-i
                        p 20 компаний
                        span 2021 год
                    li.ind-portfolio__table-i
                        p 28 компаний
                        span 2020 год
                        img(src="./svg/index/portfolio/arrow-down.svg" alt="icons")
                    li.ind-portfolio__table-i
                        p 34 компаний
                        span 2019 год
                    li.ind-portfolio__table-i
                        p 45 компаний
                        span 2018 год
                        img(src="./svg/index/portfolio/arrow-up.svg" alt="icons")
            .ind-portfolio__table-w
                .ind-portfolio__nav-i 
                    p Общий оборот
                ul.ind-portfolio__table-bl
                    li.ind-portfolio__table-i
                        p 1 876 456 789 руб
                        span 2021 год
                    li.ind-portfolio__table-i
                        p 1 400 456 789 руб
                        span 2020 год
                        img(src="./svg/index/portfolio/arrow-down.svg" alt="icons")
                    li.ind-portfolio__table-i
                        p 450 456 789 руб
                        span 2019 год
                    li.ind-portfolio__table-i
                        p 350 456 789 руб
                        span 2018 год
                        img(src="./svg/index/portfolio/arrow-up.svg" alt="icons")
            .ind-portfolio__table-w
                .ind-portfolio__nav-i 
                    p Наши компании присутствуют
                ul.ind-portfolio__table-bl
                    li.ind-portfolio__table-i
                        p В 129 городах РФ/СНГ/ЕС
                        span 2021 год
                    li.ind-portfolio__table-i
                        p В 111 городах РФ/СНГ/ЕС
                        span 2020 год
                        img(src="./svg/index/portfolio/arrow-down.svg" alt="icons")
                    li.ind-portfolio__table-i
                        p В 35 городах РФ/СНГ/ЕС
                        span 2019 год
                    li.ind-portfolio__table-i
                        p В 17 городах РФ/СНГ/ЕС
                        span 2018 год
                        img(src="./svg/index/portfolio/arrow-up.svg" alt="icons")


