.video.display-n
    .video__wrapper 
        .video__close 
            img(src="./svg/close__video.svg" alt="icons")
        .video__block 
            <video controls muted loop id="vide">
                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" />
            </video>