@@include('components/_head.pug', {
    "title": "О нас",
})

@@include('components/_header.pug')

section.about-main 
    .about-main__bg
        img(src="./img/about/main/banner.png" alt="img")
    .containers
        .about-main__wrapper
            .about-main__title ЧТО МЫ ДЕЛАЕМ?
            .about-main__text Мы создаем платформу будущего для микробрендов, которая сочетает в себе технологии, данные и аналитику, а также оптимизированную цепочку действий, позволяющую идее воплотиться в высокорентабельную масштабируемую компанию с собственным брендом потребительских товаров.
            .about-main__btns
                a(href="#").about-main__p
                    p Стать партнером Togobrands
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11L11 1" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 1H11V11" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                a(href="#").about-main__i
                    p Стать инвестором Togobrands
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 1H11V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

section.about-banner 
    .containers
        .about-banner__wrapper
            .about-banner__t Успех требует сложных моделей данных
            .about-banner__b 
                img(src="./svg/about/banner.svg" alt="icons")

section.about-description 
    .containers
        .about-description__w
            .about-description__t Команда ГК Togo сделала все это
            ul.about-description__l
                li.about-description__l-i
                    .about-description__l-t 
                        h5 Togo - торговая компания, которая растет сама и помогает расти другим
                        p MVP продукт протестирован. Наша талантливая команда совершенствует модель каждый день. Мы создаем миллионы долларов совокупной стоимости нескольких брендов товаров. Что еще более важно, мы создаем продукты и услуги, которые помогают не только нам реализовывать свои амбиции, но ссовершенствовать внешний рынка селлеров маркетплейсов, на котором за последние два года произошел взрывной рост. 
                        .about-description__l-t__d
                            img(src="./svg/about/decor__1.svg" alt="icons")
                    .about-description__l-p
                        .about-description__l-p__d
                            img(src="./svg/about/decor__2.svg" alt="icons")
                        img(src="./img/index/team/people__4.png" alt="img")
                li.about-description__l-i
                    .about-description__l-t 
                        h5 Togo - акселератор, развивающая стартапы в электронной комерции
                        p Многие предприниматели заработали свои первые деньги на товарах, теперь пора превратить их в капитализируемые компании с собственной торговой маркой. Мы можем предложить им нашу стратегию по взращиванию брендов, либо сумму за которую мы готовы купить их проект. 
                        .about-description__l-t__d
                            img(src="./svg/about/decor__3.svg" alt="icons")
                    .about-description__l-p
                        .about-description__l-p__d
                            img(src="./svg/about/decor__4.svg" alt="icons")
                        img(src="./img/index/team/people__4.png" alt="img")
                li.about-description__l-i
                    .about-description__l-t 
                        h5 Togo – ритейлер нового поколения
                        p Вместе мы превращаем Togo в ритейлера нового поколения, который станет самой уникальной платформой электронной коммерции для микробрендов из когда-либо созданных. 
                            br 
                            br
                            | Мы повторим успех Procter & Gamble и Unilever в e-commerce, но на этот раз в России.
                        .about-description__l-t__d
                            img(src="./svg/about/decor__5.svg" alt="icons")
                    .about-description__l-p
                        .about-description__l-p__d
                            img(src="./svg/about/decor__6.svg" alt="icons")
                        img(src="./img/index/team/people__4.png" alt="img")

            a(href="#").about-description__b
                p Наша команда
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 11L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 1H11V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
