@@include('components/_head.pug', {
    "title": "Новости детальная страница",
})

@@include('components/_header.pug')

section.detail-main 
    .containers
        .detail-main__w 
            .detail-main__t КАК РАЗВИВАТЬ
                br 
                | СВОЙ НОВЫЙ БРЕНД
            a(href="#").detail-main__m 
                .detail-main__m-p 
                    img(src="./img/detail/banner.png" alt="img")
                .detail-main__m-block
                    .detail-main__m-t Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения к потребителю через Wildberries, Ozon и другие торговые площадки электронной коммерции, где даже небольшие повстанческие бренды могут на равных конкурировать с крупными игроками.

                        br
                        br
                        | Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения к потребителю через Wildberries, Ozon и другие торговые площадки электронной коммерции, где даже небольшие повстанческие бренды могут на равных конкурировать с крупными игроками.
            .detail-main__l
                a(href="#").detail-main__l-i 
                    .detail-main__l-p 
                        img(src="./img/detail/banner.png" alt="img")
                    .detail-main__l-t Как развивать 
                        br 
                        | свой новый бренд
                    .detail-main__l-d Мы живем в новый золотой век электронной коммерции
                    .detail-main__l-b Подробнее  ›
                a(href="#").detail-main__l-i 
                    .detail-main__l-p 
                        img(src="./img/detail/banner.png" alt="img")
                    .detail-main__l-t Как развивать 
                        br 
                        | свой новый бренд
                    .detail-main__l-d Мы живем в новый золотой век электронной коммерции
                    .detail-main__l-b Подробнее  ›
                a(href="#").detail-main__l-i 
                    .detail-main__l-p 
                        img(src="./img/detail/banner.png" alt="img")
                    .detail-main__l-t Как развивать 
                        br 
                        | свой новый бренд
                    .detail-main__l-d Мы живем в новый золотой век электронной коммерции
                    .detail-main__l-b Подробнее  ›


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
