@@include('components/_head.pug', {
    "title": "Главная",
})

@@include('components/_header.pug')

section.ind-main 
    .ind-main__bg
        img(src="./img/index/main/bg.png" alt="img")
    .containers
        .ind-main__info 
            .ind-main__info-t
                p 
                    | НАША ЦЕЛЬ - 
                    br
                    span ВЕЛИКИЕ БРЕНДЫ
                    br
                    | СДЕЛАН В РОССИИ
            .ind-main__info-d 
                p 
                    | Мы создаем, покупаем и развиваем бренды на маркетплейсах, с помощью нашей системы, технологий и опытной команды талантливых людей.
                    br
                    br
                    | В данных реалиях нашей страны мы просто обязаны сотворить новую историю в нашей экономике.
            .ind-main__info-btns 
                a(href='#').ind-main__info-p
                    p Войти в портфель Togobrands
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 1H11V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                a(href='#').ind-main__info-i
                    p Стать инвестором Togobrands
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11L11 1" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 1H11V11" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

        .ind-main__video
            <video autoplay muted loop id='vid'>
                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" />
            </video>
            .ind-main__video-play
                img(src="./svg/index/play.svg" alt="icons")

        .ind-main__decor
            .ind-main__decor-i
                img(src="./svg/index/main/decor__1.svg" alt="icons")
            .ind-main__decor-i
                img(src="./svg/index/main/decor__2.svg" alt="icons")
            .ind-main__decor-i
                img(src="./svg/index/main/decor__3.svg" alt="icons")

section.ind-description
    .containers 
        .ind-description__start
            .ind-description__start-d
                img(src="./svg/index/description/decor__1.svg" alt="icons")
            .ind-description__start-t
                p 
                    | КАЖДЫЙ  
                    span КРУПНЫЙ 
                    | БРЕНД НАЧИНАЛСЯ КАК МИКРОБРЕНД
            a(href="#").ind-description__start-b
                p Подробнее о нас
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 11L11 1" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 1H11V11" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        .ind-description__info
            .ind-description__info-p
                img(src="./img/index/description/photo.png" alt="photo")
            .ind-description__info-t 
                p Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения к потребителю через Wildberries, Ozon и другие торговые площадки электронной коммерции, где даже небольшие повстанческие бренды могут на равных конкурировать с крупными игроками.
                h5 ДОБРО ПОЖАЛОВАТЬ В НОВУЮ ПАРАДИГМУ БРЕНДА...
                p Где потребители меньше заботятся о существующих брендах и больше о том, что другие потребители говорят о брендах... где рейтинг и отзывы имеют большее значение, чем красивый логотип и броская фраза... и где для безупречного обслуживания клиентов требуется бесплатная доставка в течение 0-2 дней.

section.ind-portfolio 
    .containers
        .ind-portfolio__title Портфель TOGO
        include components/_table

        .ind-portfolio__wrapper
            ul.ind-portfolio__decor
                li.ind-portfolio__decor-i 
                    img(src="./svg/index/portfolio/decor__2.svg" alt="icons")
                li.ind-portfolio__decor-i 
                    img(src="./svg/index/portfolio/decor__3.svg" alt="icons")
            .ind-portfolio__start
                p Топ портфельных 
                    br
                    | компаний
                .ind-portfolio__start-d
                    img(src="./svg/index/portfolio/decor__1.svg" alt="icons")
            .ind-portfolio__list
                a(href="#").ind-portfolio__list-i 
                    .ind-portfolio__list-p
                        img(src="./img/index/portfolio/photo.png" alt="img")
                    .ind-portfolio__list-t LEVITA
                    .ind-portfolio__list-d Сеть студий балета и растяжки
                    ul.ind-portfolio__list-l
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                a(href="#").ind-portfolio__list-i 
                    .ind-portfolio__list-p
                        img(src="./img/index/portfolio/photo.png" alt="img")
                    .ind-portfolio__list-t LEVITA
                    .ind-portfolio__list-d Сеть студий балета и растяжки
                    ul.ind-portfolio__list-l
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                a(href="#").ind-portfolio__list-i 
                    .ind-portfolio__list-p
                        img(src="./img/index/portfolio/photo.png" alt="img")
                    .ind-portfolio__list-t LEVITA
                    .ind-portfolio__list-d Сеть студий балета и растяжки
                    ul.ind-portfolio__list-l
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                a(href="#").ind-portfolio__list-i 
                    .ind-portfolio__list-p
                        img(src="./img/index/portfolio/photo.png" alt="img")
                    .ind-portfolio__list-t LEVITA
                    .ind-portfolio__list-d Сеть студий балета и растяжки
                    ul.ind-portfolio__list-l
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                a(href="#").ind-portfolio__list-i 
                    .ind-portfolio__list-p
                        img(src="./img/index/portfolio/photo.png" alt="img")
                    .ind-portfolio__list-t LEVITA
                    .ind-portfolio__list-d Сеть студий балета и растяжки
                    ul.ind-portfolio__list-l
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                a(href="#").ind-portfolio__list-i 
                    .ind-portfolio__list-p
                        img(src="./img/index/portfolio/photo.png" alt="img")
                    .ind-portfolio__list-t LEVITA
                    .ind-portfolio__list-d Сеть студий балета и растяжки
                    ul.ind-portfolio__list-l
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
                        li.ind-portfolio__list-b
                            h5 Выручка за 2021:
                            p 430 678 336 руб
            .ind-portfolio__slider
                .swiper.indexPortfolio
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#").ind-portfolio__list-i 
                                .ind-portfolio__list-p
                                    img(src="./img/index/portfolio/photo.png" alt="img")
                                .ind-portfolio__list-t LEVITA
                                .ind-portfolio__list-d Сеть студий балета и растяжки
                                ul.ind-portfolio__list-l
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                        .swiper-slide
                            a(href="#").ind-portfolio__list-i 
                                .ind-portfolio__list-p
                                    img(src="./img/index/portfolio/photo.png" alt="img")
                                .ind-portfolio__list-t LEVITA
                                .ind-portfolio__list-d Сеть студий балета и растяжки
                                ul.ind-portfolio__list-l
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                        .swiper-slide
                            a(href="#").ind-portfolio__list-i 
                                .ind-portfolio__list-p
                                    img(src="./img/index/portfolio/photo.png" alt="img")
                                .ind-portfolio__list-t LEVITA
                                .ind-portfolio__list-d Сеть студий балета и растяжки
                                ul.ind-portfolio__list-l
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                        .swiper-slide
                            a(href="#").ind-portfolio__list-i 
                                .ind-portfolio__list-p
                                    img(src="./img/index/portfolio/photo.png" alt="img")
                                .ind-portfolio__list-t LEVITA
                                .ind-portfolio__list-d Сеть студий балета и растяжки
                                ul.ind-portfolio__list-l
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                        .swiper-slide
                            a(href="#").ind-portfolio__list-i 
                                .ind-portfolio__list-p
                                    img(src="./img/index/portfolio/photo.png" alt="img")
                                .ind-portfolio__list-t LEVITA
                                .ind-portfolio__list-d Сеть студий балета и растяжки
                                ul.ind-portfolio__list-l
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб
                                    li.ind-portfolio__list-b
                                        h5 Выручка за 2021:
                                        p 430 678 336 руб

                .swiper-controls
                    //- .swiper-button-next
                    //- .swiper-button-prev
                    .swiper-pagination

section.ind-team 
    .containers
        .ind-team__wrapper
            ul.ind-team__decor
                li.ind-team__decor-i 
                    img(src="./svg/index/team/decor__2.svg" alt="icons")
                li.ind-team__decor-i 
                    img(src="./svg/index/team/decor__3.svg" alt="icons")
                li.ind-team__decor-i 
                    img(src="./svg/index/team/decor__4.svg" alt="icons")
                li.ind-team__decor-i 
                    img(src="./svg/index/team/decor__5.svg" alt="icons")
            .ind-team__start
                p ЭКСПЕРТЫ
                    br
                    | В ОБЛАСТИ 
                    br
                    span ЭКОНОКМИ, 
                        br 
                        | ФИНАНСОВ, 
                        br
                        | АНАЛИЗ ДАННЫХ 
                        br
                        | И МАРКЕТИНГА. 
                .ind-team__start-d
                    img(src="./svg/index/team/decor__1.svg" alt="icons")
                .ind-team__start-b 
                    .ind-team__start-p 
                        img(src="./svg/index/button__1.svg" alt="img")
                    .ind-team__start-l
                    .ind-team__start-t 
                        h5 Получить инвестиции
                        .ind-team__start-link 
                            a(href="#") 
                                p Заполнить анкету
                                img(src="./svg/index/team/arrow__link.svg" alt="icons")
                            a(href="#") 
                                p Подробнее
                                img(src="./svg/index/team/arrow__link.svg" alt="icons")
                .ind-team__start-b 
                    .ind-team__start-p 
                        img(src="./svg/index/button__2.svg" alt="img")
                    .ind-team__start-l
                    .ind-team__start-t 
                        h5 Стать партнером togobrands
                        .ind-team__start-link 
                            a(href="#") 
                                p Заполнить анкету
                                img(src="./svg/index/team/arrow__link.svg" alt="icons")
                            a(href="#") 
                                p Подробнее
                                img(src="./svg/index/team/arrow__link.svg" alt="icons")


            ul.ind-team__list
                li.ind-team__list-i
                    .ind-team__list-p
                        img(src="./img/index/team/people__1.png" alt="img")
                    .ind-team__list-t
                        .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                        h5 Антон Бестугин
                        p Соучредитель акселератора TOGO
                li.ind-team__list-i
                    .ind-team__list-p
                        img(src="./img/index/team/people__2.png" alt="img")
                    .ind-team__list-t
                        .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                        h5 Алексей прохоров
                        p Соучредитель акселератора TOGO
                li.ind-team__list-i
                    .ind-team__list-p
                        img(src="./img/index/team/people__3.png" alt="img")
                    .ind-team__list-t
                        .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.ind-team__list-i
                    .ind-team__list-p
                        img(src="./img/index/team/people__4.png" alt="img")
                    .ind-team__list-t
                        .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                        h5 Анастасия Заморина
                        p управляющий бренда EuphoriaLab
                li.ind-team__list-i
                    .ind-team__list-p
                        img(src="./img/index/team/people__5.png" alt="img")
                    .ind-team__list-t
                        .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                        h5 Екатерина Старостенко
                        p управляющий бренда SEAGO
                li.ind-team__list-i
                    .ind-team__list-p
                        img(src="./img/index/team/people__6.png" alt="img")
                    .ind-team__list-t
                        .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                        h5 Анастасия Заморина
                        p управляющий бренда EuphoriaLab
            .ind-team__slider
                .swiper.indexTeam
                    .swiper-wrapper
                        .swiper-slide 
                            .ind-team__list-i
                                .ind-team__list-p
                                    img(src="./img/index/team/people__6.png" alt="img")
                                .ind-team__list-t
                                    .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                                    h5 Алексей прохоров
                                    p Соучредитель акселератора TOGO
                        .swiper-slide 
                            .ind-team__list-i
                                .ind-team__list-p
                                    img(src="./img/index/team/people__6.png" alt="img")
                                .ind-team__list-t
                                    .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                                    h5 Алексей прохоров
                                    p Соучредитель акселератора TOGO
                        .swiper-slide 
                            .ind-team__list-i
                                .ind-team__list-p
                                    img(src="./img/index/team/people__6.png" alt="img")
                                .ind-team__list-t
                                    .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                                    h5 Алексей прохоров
                                    p Соучредитель акселератора TOGO
                        .swiper-slide 
                            .ind-team__list-i
                                .ind-team__list-p
                                    img(src="./img/index/team/people__6.png" alt="img")
                                .ind-team__list-t
                                    .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                                    h5 Алексей прохоров
                                    p Соучредитель акселератора TOGO
                        .swiper-slide 
                            .ind-team__list-i
                                .ind-team__list-p
                                    img(src="./img/index/team/people__6.png" alt="img")
                                .ind-team__list-t
                                    .ind-team__list-d Мы живем в новый золотой век электронной коммерции, когда микробренды конкурируют с традиционными крупными брендами. Эта тенденция образовалась в следствии прямого обращения 
                                    h5 Алексей прохоров
                                    p Соучредитель акселератора TOGO

                .swiper-controls 
                    .swiper-button-next
                        img(src="./svg/arrow__next.svg" alt="icons")
                    .swiper-button-prev
                        img(src="./svg/arrow__prev.svg" alt="icons")
                    .swiper-pagination

section.ind-news
    .containers
        .ind-news__title Новости
        .ind-news__list
            a(href="news.html").ind-news__list-i
                .ind-news__list-p
                    img(src="./img/index/news/photo.png" alt="img")
                .ind-news__list-t Как развивать свой новый бренд
                .ind-news__list-d Мы живем в новый золотой век электронной коммерции
                .ind-news__list-b Подробнее  ›
            a(href="news.html").ind-news__list-i
                .ind-news__list-p
                    img(src="./img/index/news/photo.png" alt="img")
                .ind-news__list-t Как развивать свой новый бренд
                .ind-news__list-d Мы живем в новый золотой век электронной коммерции
                .ind-news__list-b Подробнее  ›
            a(href="news.html").ind-news__list-i
                .ind-news__list-p
                    img(src="./img/index/news/photo.png" alt="img")
                .ind-news__list-t Как развивать свой новый бренд
                .ind-news__list-d Мы живем в новый золотой век электронной коммерции
                .ind-news__list-b Подробнее  ›
        .ind-news__s 
            .swiper.indexNews
                .swiper-wrapper
                    .swiper-slide 
                        a(href="news.html").ind-news__list-i
                            .ind-news__list-p
                                img(src="./img/index/news/photo.png" alt="img")
                            .ind-news__list-t Как развивать свой новый бренд
                            .ind-news__list-d Мы живем в новый золотой век электронной коммерции
                            .ind-news__list-b Подробнее  ›
                    .swiper-slide 
                        a(href="news.html").ind-news__list-i
                            .ind-news__list-p
                                img(src="./img/index/news/photo.png" alt="img")
                            .ind-news__list-t Как развивать свой новый бренд
                            .ind-news__list-d Мы живем в новый золотой век электронной коммерции
                            .ind-news__list-b Подробнее  ›
                    .swiper-slide 
                        a(href="news.html").ind-news__list-i
                            .ind-news__list-p
                                img(src="./img/index/news/photo.png" alt="img")
                            .ind-news__list-t Как развивать свой новый бренд
                            .ind-news__list-d Мы живем в новый золотой век электронной коммерции
                            .ind-news__list-b Подробнее  ›
            .swiper-controls 
                .swiper-pagination

script.
    $("#vid")[0].play();

@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_video.pug')

@@include('components/_script.pug')
