@@include('components/_head.pug', {
    "title": "Инвестор",
})

@@include('components/_header.pug')

section.investor-main 
    .investor-main__bg
        img(src="./img/investor/main/banner.png" alt="img")
    .containers
        .investor-main__w 
            .investor-main__t СТАТЬ ИНВЕТОРОМ 
                br 
                | TOGOBRANDS
            .investor-main__d Инвестируйте в любой из наших брендов, 
                br
                | либо в сам монобренд Togo.
            .investor-main__a А лучше и то и другое. Причем, лучше для Вас.
            a(href="#").investor-main__l 
                p Стать партнером Togobrands
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 11L11 1" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 1H11V11" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            .investor-main__text Оставьте заявку, мы свяжемся с Вами 
                br 
                | и подробно расскажем об условиях и вашей выгоде.

section.investor-description 
    .containers
        .investor-description__w 
            .investor-description__t 
                .investor-description__t-d 
                    img(src="./svg/investor/decor__1.svg" alt="icons")
                .investor-description__t-title ПРИХОДИТЕ НА ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ 
                    span TOGO
                .investor-description__t-text Раз в месяц лидеры наших брендов рассказывают о результатах своего проекта и озвучивают план на следующий месяц.
            ul.investor-description__l 
                li.investor-description__l-i 
                    .investor-description__l-p 
                        img(src="./svg/investor/box__1.svg" alt="icons")
                    .investor-description__l-t 
                        h5 Бренды
                        p Вы услышите про успешные и неуспешные запуски, опыт и протестированные гипотезы. Узнаете как мы отбираем ниши и анализируем рынок
                li.investor-description__l-i 
                    .investor-description__l-p 
                        img(src="./svg/investor/box__2.svg" alt="icons")
                    .investor-description__l-t 
                        h5 Окружение
                        p Как минимум Вы получите новые деловые связи предпринимателей, инветоров и топ-менеджеров

section.investor-portfolio 
    .containers
        .investor-portfolio__w 
            .investor-portfolio__t ПОРТФЕЛЬ КОМПАНИЙ
            ul.investor-portfolio__l
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").investor-portfolio__l-i 
                    .investor-portfolio__l-p 
                        img(src="./img/investor/team/people__3.png" alt="img")
                    .investor-portfolio__l-t LEVITA
                    .investor-portfolio__l-d Сеть студий балета и растяжки
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .investor-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
            .investor-portfolio__slider
                .swiper.investorPortfolioSlider
                    .swiper-wrapper
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").investor-portfolio__l-i 
                                .investor-portfolio__l-p 
                                    img(src="./img/investor/team/people__3.png" alt="img")
                                .investor-portfolio__l-t LEVITA
                                .investor-portfolio__l-d Сеть студий балета и растяжки
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .investor-portfolio__l-b 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб

                .swiper-controls
                    //- .swiper-button-next
                    //- .swiper-button-prev
                    .swiper-pagination

section.investor-team 
    .containers
        .investor-team__w 
            .investor-team__t НАШ СОВЕТ ДИРЕКТОРОВ И ADVISORY BOARD
            ul.investor-team__l
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.investor-team__l-i
                    .investor-team__l-p 
                        img(src="./img/investor/team/people__1.png" alt="img")
                    .investor-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
            .investor-team__slider
                .swiper.investorTeamSlider
                    .swiper-wrapper
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                        .swiper-slide
                            .investor-team__l-i
                                .investor-team__l-p 
                                    img(src="./img/investor/team/people__1.png" alt="img")
                                .investor-team__l-t 
                                    h5 Филипцова Дарья
                                    p HR-Business partne
                .swiper-controls
                    //- .swiper-button-next
                    //- .swiper-button-prev
                    .swiper-pagination


section.investor-form
    .containers
        .investor-form__w
            .investor-form__i 
                .investor-form__t СТАТЬ ИНВЕСТОРОМ TOGOBRANDS
                .investor-form__e
                    p Почта для сотрудничества: 
                    a(href="mailto:togo@email.com") togo@email.com
                .investor-form__a
                    p Адрес штаб-квартиры Togo: 
                    address Москва, ул. Нижегородская, 29-33 стр. 5,
                        br
                        |  (БЦ Нижегородский)
            include components/_form.pug


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
