@@include('components/_head.pug', {
    "title": "Новости",
})

@@include('components/_header.pug')

section.news-main 
    .containers
        .news-main__w 
            .news-main__t НОВОСТИ
            a(href="#").news-main__m 
                .news-main__m-p 
                    img(src="./img/news/photo.png" alt="img")
                .news-main__m-block
                    .news-main__m-t Как развивать 
                        br 
                        | свой новый бренд
                    .news-main__m-d Где потребители меньше заботятся о существующих брендах и больше о том, что другие потребители говорят о брендах, где рейтинг и отзывы имеют большее значение
                    .news-main__m-b Подробнее  ›
            .news-main__l
                a(href="#").news-main__l-i 
                    .news-main__l-p 
                        img(src="./img/news/photo.png" alt="img")
                    .news-main__l-t Как развивать 
                        br 
                        | свой новый бренд
                    .news-main__l-d Мы живем в новый золотой век электронной коммерции
                    .news-main__l-b Подробнее  ›
                a(href="#").news-main__l-i 
                    .news-main__l-p 
                        img(src="./img/news/photo.png" alt="img")
                    .news-main__l-t Как развивать 
                        br 
                        | свой новый бренд
                    .news-main__l-d Мы живем в новый золотой век электронной коммерции
                    .news-main__l-b Подробнее  ›
                a(href="#").news-main__l-i 
                    .news-main__l-p 
                        img(src="./img/news/photo.png" alt="img")
                    .news-main__l-t Как развивать 
                        br 
                        | свой новый бренд
                    .news-main__l-d Мы живем в новый золотой век электронной коммерции
                    .news-main__l-b Подробнее  ›


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
