@@include('components/_head.pug', {
    "title": "Портфолио",
})

@@include('components/_header.pug')

.partner-main 
    .partner-main__bg
        img(src="./img/partner/main/banner.png" alt="img")
    .containers
        .partner-main__w 
            .partner-main__t ИНВЕСТИРУЕМ 
                br 
                | И ОКАЗЫВАЕМ ПОДДЕРЖКУ
            .partner-main__d Помогаем последовательно пройти все стадии роста с большей скоростью и меньшей упущенной выгодой, а также минимизировать потери и избежать ошибок
            a(href="#").partner-main__b 
                p Стать партнером Togobrands
                img(src="./svg/partner/arrow__link.svg" alt="icons")

.partner-box 
    .containers
        .partner-box__w
            .partner-box__i
                .partner-box__i-t 
                    p ПРИХОДИТЕ НА ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ 
                        span TOGO
                    .partner-box__i-decor
                        img(src="./svg/partner/decor__1.svg" alt="icons")
                .partner-box__i-d 
                    p Раз в месяц лидеры наших брендов рассказывают о результатах своего проекта и озвучивают план на следующий месяц.
            ul.partner-box__l
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__1.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Экспертность
                        p В нашей команде эксперты ТОПовых них, которых мы подключаем к работе с вашим брендом
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__2.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Фандрайзинг
                        p Проивестируем сами,  либо привлечем деньги в совместный бренд
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__1.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Экспертность
                        p В нашей команде эксперты ТОПовых них, которых мы подключаем к работе с вашим брендом
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__2.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Фандрайзинг
                        p Проивестируем сами,  либо привлечем деньги в совместный бренд
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__1.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Экспертность
                        p В нашей команде эксперты ТОПовых них, которых мы подключаем к работе с вашим брендом
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__2.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Фандрайзинг
                        p Проивестируем сами,  либо привлечем деньги в совместный бренд
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__1.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Экспертность
                        p В нашей команде эксперты ТОПовых них, которых мы подключаем к работе с вашим брендом
                li.partner-box__l-i 
                    .partner-box__l-p 
                        img(src="./svg/partner/box__2.svg" alt="icons")
                    .partner-box__l-t 
                        h5 Фандрайзинг
                        p Проивестируем сами,  либо привлечем деньги в совместный бренд

.partner-portfolio
    .containers
        .partner-portfolio__w
            .partner-portfolio__t Портфель компаний
            .partner-portfolio__l
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="#").partner-portfolio__l-i
                    .partner-portfolio__l-p 
                        img(src="./img/partner/team/people__1.png" alt="img")
                    .partner-portfolio__l-t LEVITA
                    .partner-portfolio__l-d Сеть студий балета и растяжки
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .partner-portfolio__l-b 
                        h5 Выручка за 2021:
                        p 430 678 336 руб

.partner-description
    .containers
        .partner-description__w 
            .partner-description__i 
                p С КАКИМ ПАРТНЕРАМИ МЫ ГОТОВЫ СТРОИТЬ 
                    span СОВМЕСТНЫЙ БРЕНДЫ:
                img(src="./svg/partner/decor__1.svg" alt="icons")
            ul.partner-description__l 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 
                li.partner-description__l-i 
                    .partner-description__l-p 
                        img(src="./svg/partner/check.svg" alt="icons")
                    .partner-description__l-t 
                        p С людьми, обладающими достойными общечеловеческими качествами, в которых особенно ценим: честность, инициативу и интеллект 

.partner-team
    .containers
        .partner-team__w 
            .partner-team__t 
                p Твой будущий 
                    br 
                    | консультационный совет
                img(src="./svg/partner/decor__1.svg" alt="icons")
            ul.partner-team__l
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__1.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__2.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__3.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__1.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__2.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__3.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__1.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__2.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__3.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__1.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__2.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne
                li.partner-team__l-i 
                    img(src="./img/partner/team/people__3.png" alt="img")
                    h5 Филипцова Дарья
                    p HR-Business partne


.partner-grafic 
    .containers
        .partner-grafic__w 
            .partner-grafic__t
                p Трекинг бренда 
                    br 
                    | от идеи до IPO
                img(src="./svg/partner/decor__1.svg" alt="icons")
            .partner-grafic__g 
                img(src="./svg/partner/grafic.svg" alt="icons")


.partner-form 
    .containers
        .partner-form__w 
            .partner-form__b 
                .partner-form__user 
                    label.partner-form__name.partner-form__error(for="part__name")
                        input(type="text" id='part__name' placeholder='ФИО *')
                    label.partner-form__phone(for="part__phone")
                        input(type="text" id='part__phone' placeholder='Телефон *')
                    label.partner-form__email(for="part__email")
                        input(type="text" id='part__email' placeholder='Email *')
                .partner-form__project
                    label.partner-form__names(for="part__names")
                        input(type="text" id='part__names' placeholder='Название действующего проекта *')
                    label.partner-form__link(for="part__link")
                        input(type="text" id='part__link' placeholder='Ссылка на магазин на маркетплейсе *')
            label.partner-form__descr(for="part__descr")
                input(type="text" id='part__descr' placeholder='Среднемесячная выручка и прибыль за последние 3 месяца собственного проекта, либо места работы *')
            .partner-form__add
                label.partner-form__file(for="part__message")
                    input(type='file' multiple id='part__message' placeholder='Среднемесячная выручка и прибыль за последние 3 месяца собственного проекта, либо места работы *')
                    p Финансовые показатели
                    img(src="./svg/partner/arrow__button.svg" alt="icons")
                a(href="#").partner-form__info
                    p Загрузить тестовое задание
                    img(src="./svg/partner/file.svg" alt="icons")
            label.partner-form__message(for="part__message")
                textarea(id='part__message' placeholder='Среднемесячная выручка и прибыль за последние 3 месяца собственного проекта, либо места работы *')
            button(type='submit').partner-form__btn
                p Отправить резюме
                img(src="./svg/partner/arrow__link.svg" alt="icons")



@@include('components/_footer.pug')

@@include('components/_script.pug')
