@@include('components/_head.pug', {
    "title": "Портфолио",
})

@@include('components/_header.pug')

section.portfolio-main 
    .portfolio-main__bg
        img(src="./img/portfolio/main/banner.png" alt="img")
    .containers
        .portfolio-main__w 
            .portfolio-main__t ПОРТФЕЛЬ БРЕНДОВ

section.portfolio-table 
    .containers
        include components/_table

section.portfolio-list 
    .containers
        .portfolio-list__w
            .portfolio-list__t Топ портфельных компаний
            .portfolio-list__l
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб

            .portfolio-list__slider
                .swiper.portfolioSlider
                    .swiper-wrapper
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                        .swiper-slide
                            a(href="portfolios.html").portfolio-list__l-i
                                .portfolio-list__l-p 
                                    img(src="./img/index/team/people__4.png" alt="img")
                                .portfolio-list__l-t LEVITA
                                .portfolio-list__l-d Сеть студий балета и растяжки
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб
                                .portfolio-list__l-l 
                                    h5 Выручка за 2021:
                                    p 430 678 336 руб

                .swiper-controls
                    .swiper-button-next
                        img(src="./svg/arrow__next.svg" alt="icons")
                    .swiper-button-prev
                        img(src="./svg/arrow__prev.svg" alt="icons")
                    .swiper-pagination


            ul.portfolio-list__b
                li.portfolio-list__b-i
                    .portfolio-list__b-p 
                        img(src="./svg/portfolio/button__1.svg" alt="icons")
                    .portfolio-list__b-t 
                        .portfolio-list__b-title Стать партнером togobrands
                        .portfolio-list__b-w 
                            a(href="#").portfolio-list__b-link
                                p Заполнить анкету
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")
                            a(href="#").portfolio-list__b-link
                                p Подробнее
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")
                li.portfolio-list__b-i
                    .portfolio-list__b-p 
                        img(src="./svg/portfolio/button__2.svg" alt="icons")
                    .portfolio-list__b-t 
                        .portfolio-list__b-title Стать инвестором togobrands
                        .portfolio-list__b-w 
                            a(href="#").portfolio-list__b-link
                                p Заполнить анкету
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")
                            a(href="#").portfolio-list__b-link
                                p Подробнее
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
