@@include('components/_head.pug', {
    "title": "Название компании",
})

@@include('components/_header.pug')

section.portfolios-main 
    .portfolios-main__bg
    .containers
        .portfolios-main__w 
            .portfolios-main__i
                .portfolios-main__t ROYAL OIL
                .portfolios-main__d Сеть магазинов элитной парфюмерии
                a(href="#").portfolios-main__btn
                    p Перейти на сайт
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11L11 1" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 1H11V11" stroke="#0063BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

            .portfolios-main__b 
                img(src="./svg/portfolios/box.svg" alt="icons")

section.portfolios-price 
    .containers
        ul.portfolios-price__decor
            li.portfolios-price__decor-i
                img(src="./svg/portfolios/decor__1.svg" alt="icons")
            li.portfolios-price__decor-i
                img(src="./svg/portfolios/decor__2.svg" alt="icons")
            li.portfolios-price__decor-i
                img(src="./svg/portfolios/decor__3.svg" alt="icons")
        ul.portfolios-price__l
            li.portfolios-price__l-i 
                p Выручка за 2021 год:
                h5 65 027 031 руб.
            li.portfolios-price__l-i 
                p Выручка за 2021 год:
                h5 65 027 031 руб.
            li.portfolios-price__l-i 
                p Выручка за 2021 год:
                h5 65 027 031 руб.
            li.portfolios-price__l-i 
                p Выручка за 2021 год:
                h5 65 027 031 руб.

section.portfolios-description 
    .containers
        .portfolios-description__w
            ul.portfolios-description__p
                li.portfolios-description__p-i
                    img(src="./img/portfolios/people__1.png" alt="img")
                    h5 Евелина Ирина
                    p Главный финансовый сотрудник
                li.portfolios-description__p-i
                    img(src="./img/portfolios/people__2.png" alt="img")
                    h5 Евелина Ирина
                    p Главный финансовый сотрудник
                li.portfolios-description__p-i
                    img(src="./img/portfolios/people__1.png" alt="img")
                    h5 Евелина Ирина
                    p Главный финансовый сотрудник
                li.portfolios-description__p-i
                    img(src="./img/portfolios/people__2.png" alt="img")
                    h5 Евелина Ирина
                    p Главный финансовый сотрудник

            .portfolios-description__i 
                .portfolios-description__i-d 
                    img(src="./svg/portfolios/decor__4.svg" alt="icons")
                .portfolios-description__i-t О КОМПАНИИ
                .portfolios-description__i-text Royal Oil-современный и развивающийся по франчайзингу бизнес. Вся команда состоит из молодых и амбициозных людей.
                    br
                    br 
                    | Каждый сотрудник нацелен на максимальный результат. Это не только про умение ставить большие цели, но и про профессионализм.
                    br
                    br 
                    | Парфюмерия-достаточно сложная ниша. Royal Oil занимает в ней достойное место. Это подтверждают хорошие отзывы покупателей и их повторные покупки.
                    br
                    br 
                    | Бизнес-модель имеет быструю окупаемость и высокую доходность. Сама стоимость франшизы достаточно не высокая в сравнении с другими конкурентами.
                    br
                    | Все это позволяет данному бизнесу быстро расти и расширятся.

        .portfolios-banner__t ПОКАЗАТЕЛИ КОМПАНИИ
        .portfolios-banner__b
            <iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiN2VmZWYyYzctMTRmNy00ZDg2LWEwOGQtZTg2MjkxYzdkMTVmIiwidCI6IjFiNTFiZTQ3LTc4YTMtNDI4MS04M2M4LTljYTY3ZDRkNzlhNSIsImMiOjl9" frameborder="0" allowfullscreen="true"></iframe>
        .portfolios-btns__w
            .portfolios-btns__e
                .portfolios-btns__e-p
                    img(src="./svg/portfolios/button__1.svg" alt="icons")
                .portfolios-btns__e-t 
                    h5 Стать партнером Togobrands
                    .portfolios-btns__e-w
                        a(href="#").portfolios-btns__e-b 
                            p Заполнить анкету
                            img(src="./svg/portfolios/arrow__button.svg" alt="icons")
                        a(href="#").portfolios-btns__e-b 
                            p Подробнее
                            img(src="./svg/portfolios/arrow__button.svg" alt="icons")
            .portfolios-btns__e
                .portfolios-btns__e-p
                    img(src="./svg/portfolios/button__2.svg" alt="icons")
                .portfolios-btns__e-t 
                    h5 Стать инвестором Togobrands
                    .portfolios-btns__e-w
                        a(href="#").portfolios-btns__e-b 
                            p Заполнить анкету
                            img(src="./svg/portfolios/arrow__button.svg" alt="icons")
                        a(href="#").portfolios-btns__e-b 
                            p Подробнее
                            img(src="./svg/portfolios/arrow__button.svg" alt="icons")


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
