@@include('components/_head.pug', {
    "title": "Портфолио",
})

@@include('components/_header.pug')

section.portfolio-main 
    .portfolio-main__bg
        img(src="./img/portfolio/main/banner.png" alt="img")
    .containers
        .portfolio-main__w 
            .portfolio-main__t ПОРТФЕЛЬ БРЕНДОВ

section.portfolio-table 
    .containers
        .portfolio-table__w 
            ul.portfolio-table__n
                li.portfolio-table__n-i 
                    p Год
                li.portfolio-table__n-i 
                    p В портфеле ГК  Like
                li.portfolio-table__n-i 
                    p Общий оборот
                li.portfolio-table__n-i 
                    p Наши компании присуствуют
            .portfolio-table__t 
                ul.portfolio-table__l 
                    li.portfolio-table__l-i 
                        p 2021 год
                    li.portfolio-table__l-i 
                        p 20 компаний
                    li.portfolio-table__l-i 
                        p 1 876 456 789 руб
                        img(src="./svg/portfolio/arrow__down.svg" alt="icons")
                    li.portfolio-table__l-i 
                        p В 129 городах РФ/СНГ/ЕС
                        img(src="./svg/portfolio/arrow__up.svg" alt="icons")
                ul.portfolio-table__l 
                    li.portfolio-table__l-i 
                        p 2021 год
                    li.portfolio-table__l-i 
                        p 20 компаний
                    li.portfolio-table__l-i 
                        p 1 876 456 789 руб
                        img(src="./svg/portfolio/arrow__down.svg" alt="icons")
                    li.portfolio-table__l-i 
                        p В 129 городах РФ/СНГ/ЕС
                        img(src="./svg/portfolio/arrow__up.svg" alt="icons")
                ul.portfolio-table__l 
                    li.portfolio-table__l-i 
                        p 2021 год
                    li.portfolio-table__l-i 
                        p 20 компаний
                    li.portfolio-table__l-i 
                        p 1 876 456 789 руб
                        img(src="./svg/portfolio/arrow__down.svg" alt="icons")
                    li.portfolio-table__l-i 
                        p В 129 городах РФ/СНГ/ЕС
                        img(src="./svg/portfolio/arrow__up.svg" alt="icons")
                ul.portfolio-table__l 
                    li.portfolio-table__l-i 
                        p 2021 год
                    li.portfolio-table__l-i 
                        p 20 компаний
                    li.portfolio-table__l-i 
                        p 1 876 456 789 руб
                        img(src="./svg/portfolio/arrow__down.svg" alt="icons")
                    li.portfolio-table__l-i 
                        p В 129 городах РФ/СНГ/ЕС
                        img(src="./svg/portfolio/arrow__up.svg" alt="icons")

section.portfolio-list 
    .containers
        .portfolio-list__w
            .portfolio-list__t Топ портфельных компаний
            .portfolio-list__l
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                a(href="portfolios.html").portfolio-list__l-i
                    .portfolio-list__l-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__l-t LEVITA
                    .portfolio-list__l-d Сеть студий балета и растяжки
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб
                    .portfolio-list__l-l 
                        h5 Выручка за 2021:
                        p 430 678 336 руб

            ul.portfolio-list__b
                li.portfolio-list__b-i
                    .portfolio-list__b-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__b-t 
                        .portfolio-list__b-title Стать партнером togobrands
                        .portfolio-list__b-w 
                            a(href="#").portfolio-list__b-link
                                p Заполнить анкету
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")
                            a(href="#").portfolio-list__b-link
                                p Подробнее
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")
                li.portfolio-list__b-i
                    .portfolio-list__b-p 
                        img(src="./img/index/team/people__4.png" alt="img")
                    .portfolio-list__b-t 
                        .portfolio-list__b-title Стать инвестором togobrands
                        .portfolio-list__b-w 
                            a(href="#").portfolio-list__b-link
                                p Заполнить анкету
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")
                            a(href="#").portfolio-list__b-link
                                p Подробнее
                                img(src="./svg/portfolio/arrow__link.svg" alt="icons")


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
