@@include('components/_head.pug', {
    "title": "Команда",
})

@@include('components/_header.pug')

section.team-main 
    .team-main__bg
        img(src="./img/team/main/banner.png" alt="img")
    .containers
        .team-main__w 
            .team-main__t ПОЗНАКОМЬТЕСЬ 
                br
                | С НАШЕЙ СЕМЬЕЙ TOGO
            .team-main__d Любой бизнес построен на трех китах: идея, команда, инвестиции. 
                br
                | Мы убеждены, что самое главное - это люди. 
                br
                | Именно благодаря команде наш бизнес растет 
                br 
                | с большой скоростью и приобретает высокое качество

section.team-team 
    .containers
        .team-team__w 
            .team-team__t 
                p НАША КОМАНДА
                .team-team__t-d
                    img(src="./svg/team/decor__1.svg" alt="icons")
            ul.team-team__l
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
            a(href="#").team-team__b
                p Стать партнером Togobrands
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 11L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 1H11V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

section.team-description
    .containers
        .team-description__w
            .team-description__t 
                p Работать можно где угодно, но нельзя везде строить. 
                    br 
                    | Приходите строить вместе с нами.
                .team-description__d 
                    img(src="./svg/team/decor__2.svg" alt="icons")
            .team-description__b 
                .team-description__p 
                    img(src="./img/team/team/people__1.png" alt="img")
                .team-description__text
                    .team-description__decor 
                        img(src="./svg/team/decor__3.svg" alt="icons")
                    h5 TOGO - ТОРГОВАЯ КОМПАНИЯ, КОТОРАЯ РАСТЕТ САМА И ПОМОГАЕТ РАСТИ ДРУГИМ
                    p Мы креативны, высоко мотивированы, с энтузиазмом смотрим в будущее, и постоянно ищем пути улучшения.
                        br
                        br
                        | Поскольку мы продолжаем создавать и инвестировать в бренды, мы, как и прежде, стремимся создать правильную команду. 
                        br 
                        br
                        | Мы знаем, что основным залогом успеха являются люди, которые продолжают строить самый успешный успешный монобренд в электронной коммерции с великими брендами из России.

section.team-form
    .containers
        .team-form__w
            .team-form__i 
                .team-form__t Связаться с нами
                ul.team-form__d
                    li.team-form__d-i 
                        img(src="./svg/team/decor__4.svg" alt="icons")
                    li.team-form__d-i 
                        img(src="./svg/team/decor__5.svg" alt="icons")
                    li.team-form__d-i 
                        img(src="./svg/team/decor__6.svg" alt="icons")
                .team-form__f
                    include components/_form.pug


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')
