@@include('components/_head.pug', {
    "title": "Портфолио",
})

@@include('components/_header.pug')

.team-main 
    .team-main__bg
        img(src="./img/team/main/banner.png" alt="img")
    .containers
        .team-main__w 
            .team-main__t ПОЗНАКОМЬТЕСЬ 
                br
                | С НАШЕЙ СЕМЬЕЙ TOGO
            .team-main__d Любой бизнес построен на трех китах: идея, команда, инвестиции. 
                br
                | Мы убеждены, что самое главное - это люди. 
                br
                | Именно благодаря команде наш бизнес растет 
                br 
                | с большой скоростью и приобретает высокое качество

.team-team 
    .containers
        .team-team__w 
            .team-team__t 
                p Наша команда
                .team-team__t-d
                    img(src="./svg/team/decor__1.svg" alt="icons")
            ul.team-team__l
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
                li.team-team__l-i
                    .team-team__l-p 
                        img(src="./img/team/team/people__1.png" alt="img")
                    .team-team__l-t 
                        h5 Филипцова Дарья
                        p HR-Business partne
            a(href="#").team-team__b
                p Стать партнером Togobrands
                img(src="./svg/team/arrow.svg" alt="icons")

.team-form
    .containers
        .team-form__w
            .team-form__i 
                .team-form__t СТАТЬ ИНВЕСТОРОМ TOGOBRANDS
                .team-form__e
                    p Почта для сотрудничества: 
                    a(href="mailto:togo@email.com") togo@email.com
                .team-form__a
                    p Адрес штаб-квартиры Togo: 
                    address Москва, ул. Нижегородская, 29-33 стр. 5,
                        br
                        |  (БЦ Нижегородский)
            include components/_form.pug




@@include('components/_footer.pug')

@@include('components/_script.pug')
