@import "fonts";

//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #fff;

//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
}
body {
	background-color: $bg;
	font-family: "Circe";
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	border: 0;
	border: none;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
}
.containers {
	max-width: 1440px;
	padding: 0 120px;
	margin: 0 auto;
	width: 100%;
}
ol,
ul {
	padding-left: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.display-n {
	display: none !important;
}

.header {
	width: 100%;
	padding: 30px 0;
	background: transparent;
	position: relative;
	z-index: 10;
	&__block {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-w {
			& .header__logo {
				& img:nth-child(1) {
					display: none;
				}
				& img:nth-child(2) {
					display: block;
				}
			}
			& .header__i a {
				color: #ffffff;
			}
		}
		&-b {
			& .header__logo {
				& img:nth-child(1) {
					display: block;
				}
				& img:nth-child(2) {
					display: none;
				}
			}
			& .header__i a {
				color: #000000;
			}
		}
	}
	&__logo {
		cursor: pointer;
		height: 50px;
	}
	&__l {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 750px;
	}
	&__i {
		& a {
			font-family: TTNorms;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			color: #181818;
			transition: all 0.5s ease;
		}
	}
}

.footer {
	width: 100%;
	padding: 40px 0;
	// background: linear-gradient(180deg, #e2f8ff 0%, #ffffff 100%);
	// border-radius: 70px 70px 0px 0px;
	background: #fff;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	&__block {
		height: 460px;
		width: 100%;
		background: transparent;
		position: relative;
		z-index: -5;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
	}
	&__nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-logo {
			cursor: pointer;
		}
		&-l {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 660px;
		}
		&-i {
			& a {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 19px;
				color: #111111;
			}
		}
	}
	&__info {
		margin: 60px 0 0 0;
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0 140px 0 0;
		&-c {
			width: 460px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				text-transform: uppercase;
				color: rgba(62, 62, 62, 0.6);
			}
			& a {
				margin: 33px 0 0 0;
				font-family: Roboto;
				font-style: normal;
				font-weight: 700;
				font-size: 34px;
				line-height: 46px;
				color: #313131;
			}
			& h5 {
				margin: 20px 0 0 0;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				color: #111111;
			}
		}
		&-a {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 280px;
			& p {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				text-transform: uppercase;
				color: rgba(62, 62, 62, 0.6);
			}
			& address {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				color: #111111;
				margin: 32px 0 0 0;
			}
		}
	}
	&__add {
		margin: 70px 0 0 0;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		&-i {
			font-family: TTNorms;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			color: #9dafbd;
		}
		&-c {
			cursor: pointer;
			font-family: TTNorms;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			color: #9dafbd;
		}
	}
}

.form {
	&__e {
		border: 2px solid red !important;
	}
	&__b {
		width: 645px;
		padding: 73px 61px 55px 61px;
		background: #00a3ff;
		border-radius: 100px 0px 0px 0px;
		&-n {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		&-name {
			width: max-content;
			height: max-content;
			background: #00a3ff;
			border: 2px solid rgba(255, 255, 255, 0.71);
			border-radius: 100px;
			padding: 15px 20px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& input {
				width: 200px;
				border: none;
				background: transparent;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 200%;
				color: #ffffff;
				border: none;
				outline: none;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					font-family: TTNorms;
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 200%;
					color: #ffffff;
				}
			}
		}
		&-phone {
			width: max-content;
			height: max-content;
			background: #00a3ff;
			border: 2px solid rgba(255, 255, 255, 0.71);
			border-radius: 100px;
			padding: 15px 20px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& input {
				width: 200px;
				border: none;
				background: transparent;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 200%;
				color: #ffffff;
				border: none;
				outline: none;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					font-family: TTNorms;
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 200%;
					color: #ffffff;
				}
			}
		}
		&-email {
			margin: 24px 0 0 0;
			width: 100%;
			border-radius: 100px;
			background: #00a3ff;
			border: 2px solid rgba(255, 255, 255, 0.71);
			padding: 15px 20px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& input {
				width: 100%;
				border: none;
				background: transparent;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 200%;
				color: #ffffff;
				border: none;
				outline: none;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					font-family: TTNorms;
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 200%;
					color: #ffffff;
				}
			}
		}
		&-message {
			margin: 24px 0 0 0;
			width: 100%;
			height: 170px;
			border-radius: 20px;
			background: #00a3ff;
			border: 2px solid rgba(255, 255, 255, 0.71);
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			overflow: hidden;
			& textarea {
				padding: 15px 20px;
				width: 100%;
				height: 160px;
				resize: none;
				border: none;
				background: transparent;
				font-family: TTNorms;
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 200%;
				color: #ffffff;
				border: none;
				outline: none;
				&:focus {
					border: none;
					outline: none;
				}
				&::placeholder {
					font-family: TTNorms;
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 200%;
					color: #ffffff;
				}
			}
		}
		&-btn {
			border: 3px solid #ffffff;
			padding: 19px 50px;
			width: 100%;
			margin: 38px 0 0 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 50px;
			cursor: pointer;
			background: #00a3ff;
			& p {
				font-family: Circe;
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				line-height: 27px;
				color: #ffffff;
			}
			& img {
				margin: 0 0 0 auto;
			}
		}
	}
}

.form__b-check {
	position: relative;
	margin: 33px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__b-check__checkbox__input {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

.form__b-check__checkbox__label {
	padding-left: 40px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #ffffff;
	cursor: pointer;
}

.form__b-check__checkbox__label:before {
	content: "";
	display: block;
	border: 2px solid #ffffff;
	border-radius: 2px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: background 0.1s linear, border 0.1s linear;
}

.form__b-check__checkbox__label:after {
	content: "";
	display: block;
	width: 11px;
	height: 11px;
	background: url("../svg/investor/check.svg") no-repeat;
	background-size: 12px 12px;
	opacity: 0;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
	transition: opacity 0.1s linear;
}

.form__b-check__checkbox__input:checked + .form__b-check__checkbox__label:after {
	opacity: 1;
}

//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "index/style";
@import "about/style";
@import "portfolio/style";
@import "investor/style";
@import "portfolios/style";
@import "news/style";
@import "contact/style";
@import "team/style";
@import "partner/style";

//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
